td {
    line-height: 2.5rem;
}

.swal2-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.swal2-row label {
    width: 100px;
    margin-right: 10px;
}

.swal2-row input,
.swal2-row select {
    flex: 1;
}

.swal2-popup .swal2-content form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.swal2-popup .swal2-content form label {
    align-self: center;
}

.swal2-popup .swal2-content form input,
.swal2-popup .swal2-content form select {
    width: 100%;
    margin: 0;
}

label.edit_lable {
    margin-top: 35px;
}

/* .swal2-input[type="file"] {
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
}

.swal2-input[type="file"]:hover {
    background-color: #eee;
}

.swal2-input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
} */

input[type=file] {
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 10px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    height: 35px;
    width: 130px;
    margin-top: 1%;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

input[type="file"]::before {
    font-size: 4px;
}


